#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8880'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = renewdesk_db
database.default.database = renewdesk_db
database.default.username = renewdesk_user
database.default.password = renewdesk_pass
database.default.DBDriver = MySQLi
database.default.port     = 3306
